aero/src/main/resources/wsdl/aerospike.xsd

<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"-->
<!--           targetNamespace="http://example.com/aerospike"-->
<!--           elementFormDefault="qualified">-->

<!--    <xs:element name="createRecordRequest">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="key" type="xs:string"/>-->
<!--                <xs:element name="binName" type="xs:string"/>-->
<!--                <xs:element name="value" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

<!--    <xs:element name="createRecordResponse">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="status" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->
<!--</xs:schema>-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/aerospike"
           elementFormDefault="qualified">

    <!-- CREATE -->
    <xs:element name="createRecordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="key" type="xs:string"/>
                <xs:element name="binName" type="xs:string"/>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createRecordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- READ -->
    <xs:element name="readRecordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="key" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="readRecordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- UPDATE -->
    <xs:element name="updateRecordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="key" type="xs:string"/>
                <xs:element name="binName" type="xs:string"/>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateRecordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- DELETE -->
    <xs:element name="deleteRecordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="key" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteRecordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
